# Frontend
streamlit==1.33.0

# Backend
langchain==0.2.16
langgraph==0.2.28
langchain-groq
langchain-community==0.2.16

# LLM
openai==1.40.6
tavily-python==0.5.0
google-generativeai==0.7.2

# Others
pandas==2.2.2
python-dotenv==1.0.1


